
.subtotal{
    display: grid;
    
    width: 20rem;
    margin: 1rem;
    margin-left: 3rem;
    height: 15rem;

    box-shadow: 0 0 5px gray;


    div{
        display: flex;
        align-items: center;
        padding: 1em;
        border-bottom: 1px solid var(--primary-color);
       
&:first-child{
             background-color: var(--primary-color);
        color: white;
}

        &:last-child{
            padding: 1em;
            border-bottom: none;
        }
        button{
            background-color: var(--secondary-color);
        color: white;
        border: none;
        width: 100%;
        padding: .4rem 0;
        border-radius: 5px;
        
      
        }
    }
    }

    .empty-cart{
      width: 40%;
      height: 20rem;
      border-radius: 10px;
      margin: 0 auto;
      box-shadow: 0 0 5px grey;
   display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 2rem;
  margin-top: 1em;
  }

.favorite{
  margin-top: 1em ;
  display: grid;
  place-items: center;

  .no-item {
    text-align: center;
    padding: 1rem 0;
  }
}

.cart{
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 5px;

}



.counter {
  width: fit-content;

  span {
    margin: 0 0.3em;
    font-weight: 700;
  }
  
}