.product-card {
  position: relative;
  box-shadow: 0 2px 3px #9c9c9c;
  // margin: 50px auto;
  background: #fafafa;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }

    
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  // padding: 50px;
  background: #f0f0f0;
  img {
    width: 100%;
    height: 100%;
  }
}

.product-details {
  padding: 30px;
  height: 10rem;

  h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #fbb72c;
    }
  }

  p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
  }
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 10px;
  div {
    float: left;
    width: 50%;
  }
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;

  small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
  }
}

.product-links {
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem  2rem 2rem;
gap: 2rem;
button {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    border: none;
    // background: none;
    background: inherit;
    
    transition: 0.3s;
    font-size: 2rem;
&:first-child{
    background-color: #fbb72c ;
    width: 13rem; 
    padding: .3rem 0;
    color: white;
     transition: 0.2s all;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
 &:active {
            transform: scale(0.98);
       
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        
        }
    border-radius: 5px;
}
    &:last-child:hover {
      color: #fbb72c;
    }
  }
}
