

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(300px - 1rem), 1fr));
    gap: 1rem;

    padding: 2rem;
}

.filter{
    // padding: 1rem;
    margin: 1rem 0;
    // display: flex;
    // background-color: #FBA100;
}
.css-19kzrtu{
    padding-top: 0 !important;
}